<app-nav-bar></app-nav-bar>
<div class="box">
  <div class="menu">
    <ul>
      <li (click)="about()">About</li>
      <li (click)="timetable()">Time Tables</li>
      <li (click)="HolidayList()">Academic Calendar</li>
      <li (click)="enotice()">E-notice board</li>
    </ul>
  </div>
  <div class="jumbotron mx-auto w-75">
    <h1>About</h1>
    <p>Welcome!</p>
    <p>
      This is Notice board portal for AKGEC students,faculties and
      adminstration. All the notices regarding any information related to any
      branch or faculty will be posted here.Students are required to check for
      any notices on a daily basis to keep themselves up-to-date
    </p>
  </div>
</div>

<app-footer></app-footer>
