<div class="footer">
  <div>
    <h3>About AKGEC</h3>
    <p class="about">
      Ajay Kumar Garg Engineering College (AKGEC), Ghaziabad is affiliated to
      Dr. A.P.J. Abdul Kalam Technical University, Lucknow, and is approved by
      the All India Council for Technical Education. The college was established
      in 1998 and offers B.Tech courses in seven disciplines of Engineering
      namely Computer Science and Engineering, Information Technology,
      Electronics and Communication Engineering, Electronics and Instrumentation
      Engineering, Electrical and Electronics Engineering, Mechanical
      Engineering and Civil Engineering.
    </p>
  </div>
  <div>
    <h3>Contact US</h3>
    <p>
      <span>Address:</span> 27TH KM Milestone, Delhi - Meerut Expy, Ghaziabad,
      Uttar Pradesh 201009
    </p>
    <p><span>Email:</span> info@akgec.ac.in</p>
    <p>
      <span>Phone:</span> +91 9910249199,+91 8743879879, 1800-3000-6292 (toll
      free)
    </p>
    <p>Monday to Friday and Working Saturdays <span>8:30am-4:00pm</span></p>
    <p>Sundays and odd Saturdays <span>: Closed</span>.</p>
  </div>
</div>
<h6>&copy;2020 Copyright Ajay Garg Engineering College</h6>
