<app-nav-bar></app-nav-bar>
<h1 class="dept">{{deps}}</h1>
<div class="box">
  <div class="menu">
    <ul>
      <li (click)="about()">About</li>
      <li (click)="timetable()">Time Tables</li>
      <li (click)="HolidayList()">Academic Calendar</li>
      <li (click)="enotice()">E-notice board</li>
    </ul>
  </div>
  <div>
    <h3>Departmental E-notice Board</h3>
    <table class="data">
      <tr>
        <th>Date</th>
        <th>Notice</th>
        <th>Last Date</th>
        <th></th>
      </tr>
      <tr *ngFor="let notice of notices">
        <td>{{notice.date | date:'dd-MMM-yyyy'}}</td>
        <td>
          {{notice.heading}}
        </td>
        <td>{{notice.lastdate | date:'dd-MMM-yyyy'}}</td>
        <td>
          <span (click)="sendNotice(notice)">
            see more
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>
<app-footer></app-footer>
