header {
  background: url("../../../assets/1566283133acad.jpg") no-repeat center
    center/cover;
  height: 100vh;
}
.jumbotron {
  position: absolute;
  background: white;
  width: 500px;
  top: 20%;
  left: 33%;
  border-radius: 20px 20px;
}
.btns {
  position: relative;
  margin-top: 20px;
  width: 30%;
  padding: 8px 1px;
  border: none;
  color: white;
  left: 34%;
  cursor: pointer;
  background: linear-gradient(rgb(201, 79, 218), rgb(255, 116, 255));
}
.in {
  border-radius: 50px 50px;
}
h4,
h6 {
  color: purple;
}
a {
  text-decoration: none;
}
